In [17]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras

In [18]:
df=pd.read_csv("insurance_claims.csv")
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [19]:
df.describe()

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,_c39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,0.0
mean,203.954000,38.948000,546238.648000,1136.000000,1256.406150,1.101000e+06,501214.488000,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000,NaN
std,115.113174,9.140287,257063.005276,611.864673,244.167395,2.297407e+06,71701.610941,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861,NaN
min,0.000000,19.000000,100804.000000,500.000000,433.330000,-1.000000e+06,430104.000000,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000,NaN
25%,115.750000,32.000000,335980.250000,500.000000,1089.607500,0.000000e+00,448404.500000,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000,NaN
50%,199.500000,38.000000,533135.000000,1000.000000,1257.200000,0.000000e+00,466445.500000,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000,NaN
75%,276.250000,44.000000,759099.750000,2000.000000,1415.695000,0.000000e+00,603251.000000,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000,NaN
max,479.000000,64.000000,999435.000000,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000,NaN

In [20]:
df.isnull().sum()

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
_c39                           1000
dtype: int64

In [21]:
col_to_del=["policy_number","policy_bind_date","insured_zip","insured_hobbies","_c39","insured_relationship","incident_date","auto_model","auto_year"]
df.drop(col_to_del,axis="columns",inplace=True)
df.head()

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,fraud_reported
0,328,48,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,YES,1,2,YES,71610,6510,13020,52080,Saab,Y
1,228,42,IN,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,...,?,0,0,?,5070,780,780,3510,Mercedes,Y
2,134,29,OH,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,...,NO,2,3,NO,34650,7700,3850,23100,Dodge,N
3,256,41,IL,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,...,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Y
4,228,44,IL,500/1000,1000,1583.91,6000000,MALE,Associate,sales,...,NO,0,1,NO,6500,1300,650,4550,Accura,N

In [22]:
X=df.drop("fraud_reported",axis="columns")
X.head()

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make
0,328,48,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,1,YES,1,2,YES,71610,6510,13020,52080,Saab
1,228,42,IN,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,...,1,?,0,0,?,5070,780,780,3510,Mercedes
2,134,29,OH,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,...,3,NO,2,3,NO,34650,7700,3850,23100,Dodge
3,256,41,IL,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,...,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet
4,228,44,IL,500/1000,1000,1583.91,6000000,MALE,Associate,sales,...,1,NO,0,1,NO,6500,1300,650,4550,Accura

In [24]:
Y=df.fraud_reported
Y.head()

0    Y
1    Y
2    N
3    Y
4    N
Name: fraud_reported, dtype: object

In [25]:
dummy=pd.get_dummies(X)
dummy.head()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,...,auto_make_Dodge,auto_make_Ford,auto_make_Honda,auto_make_Jeep,auto_make_Mercedes,auto_make_Nissan,auto_make_Saab,auto_make_Suburu,auto_make_Toyota,auto_make_Volkswagen
0,328,48,1000,1406.91,0,53300,0,5,1,1,...,0,0,0,0,0,0,1,0,0,0
1,228,42,2000,1197.22,5000000,0,0,8,1,0,...,0,0,0,0,1,0,0,0,0,0
2,134,29,2000,1413.14,5000000,35100,0,7,3,2,...,1,0,0,0,0,0,0,0,0,0
3,256,41,2000,1415.74,6000000,48900,-62400,5,1,1,...,0,0,0,0,0,0,0,0,0,0
4,228,44,1000,1583.91,6000000,66000,-46000,20,1,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
dummy.shape

(1000, 1095)

In [27]:
dummy.describe()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,...,auto_make_Dodge,auto_make_Ford,auto_make_Honda,auto_make_Jeep,auto_make_Mercedes,auto_make_Nissan,auto_make_Saab,auto_make_Suburu,auto_make_Toyota,auto_make_Volkswagen
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,1136.000000,1256.406150,1.101000e+06,25126.100000,-26793.700000,11.644000,1.83900,0.992000,...,0.080000,0.072000,0.055000,0.067000,0.065000,0.078000,0.080000,0.080000,0.070000,0.068000
std,115.113174,9.140287,611.864673,244.167395,2.297407e+06,27872.187708,28104.096686,6.951373,1.01888,0.820127,...,0.271429,0.258617,0.228094,0.250147,0.246649,0.268306,0.271429,0.271429,0.255275,0.251872
min,0.000000,19.000000,500.000000,433.330000,-1.000000e+06,0.000000,-111100.000000,0.000000,1.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,115.750000,32.000000,500.000000,1089.607500,0.000000e+00,0.000000,-51500.000000,6.000000,1.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,199.500000,38.000000,1000.000000,1257.200000,0.000000e+00,0.000000,-23250.000000,12.000000,1.00000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,276.250000,44.000000,2000.000000,1415.695000,0.000000e+00,51025.000000,0.000000,17.000000,3.00000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,479.000000,64.000000,2000.000000,2047.590000,1.000000e+07,100500.000000,0.000000,23.000000,4.00000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
x_scaled=scalar.fit_transform(dummy)

In [45]:
Y.unique()

array(['Y', 'N'], dtype=object)

In [46]:
Y.replace({"Y":0,"N":1},inplace=True)
Y.unique()

array([0, 1])

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x_scaled,Y,test_size=0.2,random_state=0,stratify=Y)

In [48]:
x_train.shape

(800, 1095)

In [49]:
y_train.shape

(800,)

In [50]:
x_train.dtype

dtype('float64')

In [85]:
from keras.api._v2.keras import activations

model=keras.Sequential([
    keras.layers.Dense(500,input_dim=1095,activation="relu"),
    keras.layers.Dropout(0.75),

    keras.layers.Dense(200,activation="relu"),
    keras.layers.Dropout(0.75),

    keras.layers.Dense(150,activation="relu"),
    keras.layers.Dropout(0.75),

    keras.layers.Dense(100,activation="relu"),
    keras.layers.Dropout(0.55),

    keras.layers.Dense(50,activation="relu"),
    keras.layers.Dropout(0.5),


    keras.layers.Dense(1,activation="sigmoid")
])

In [86]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [87]:
model.fit(x_train,y_train,epochs=100)

Epoch 1/100
25/25 [==============================] - 2s 4ms/step - loss: 2.1473 - accuracy: 0.6475
Epoch 2/100
25/25 [==============================] - 0s 5ms/step - loss: 1.3948 - accuracy: 0.6250
Epoch 3/100
25/25 [==============================] - 0s 4ms/step - loss: 1.0718 - accuracy: 0.6375
Epoch 4/100
25/25 [==============================] - 0s 5ms/step - loss: 0.9162 - accuracy: 0.6400
Epoch 5/100
25/25 [==============================] - 0s 5ms/step - loss: 0.8314 - accuracy: 0.6538
Epoch 6/100
25/25 [==============================] - 0s 4ms/step - loss: 0.7472 - accuracy: 0.6625
Epoch 7/100
25/25 [==============================] - 0s 5ms/step - loss: 0.7744 - accuracy: 0.6687
Epoch 8/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6802 - accuracy: 0.6712
Epoch 9/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6637 - accuracy: 0.7038
Epoch 10/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6698 - accuracy: 0.7000
Epoch 11/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6484 - accuracy: 0.7113
Epoch 12/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6365 - accuracy: 0.7188
Epoch 13/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6449 - accuracy: 0.7038
Epoch 14/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6264 - accuracy: 0.7138
Epoch 15/100
25/25 [==============================] - 0s 5ms/step - loss: 0.5912 - accuracy: 0.7300
Epoch 16/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6191 - accuracy: 0.7188
Epoch 17/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5957 - accuracy: 0.7275
Epoch 18/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5815 - accuracy: 0.7262
Epoch 19/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5756 - accuracy: 0.7287
Epoch 20/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5749 - accuracy: 0.7387
Epoch 21/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5923 - accuracy: 0.7362
Epoch 22/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5692 - accuracy: 0.7437
Epoch 23/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5833 - accuracy: 0.7400
Epoch 24/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5691 - accuracy: 0.7400
Epoch 25/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5792 - accuracy: 0.7387
Epoch 26/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5655 - accuracy: 0.7500
Epoch 27/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5373 - accuracy: 0.7450
Epoch 28/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5594 - accuracy: 0.7487
Epoch 29/100
25/25 [==============================] - 0s 5ms/step - loss: 0.5727 - accuracy: 0.7375
Epoch 30/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5483 - accuracy: 0.7400
Epoch 31/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5493 - accuracy: 0.7525
Epoch 32/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5458 - accuracy: 0.7500
Epoch 33/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5442 - accuracy: 0.7500
Epoch 34/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5402 - accuracy: 0.7475
Epoch 35/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5308 - accuracy: 0.7437
Epoch 36/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5401 - accuracy: 0.7475
Epoch 37/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5193 - accuracy: 0.7487
Epoch 38/100
25/25 [==============================] - 0s 5ms/step - loss: 0.5264 - accuracy: 0.7475
Epoch 39/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5320 - accuracy: 0.7500
Epoch 40/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5183 - accuracy: 0.7550
Epoch 41/100
25/25 [==============================] - 0s 4ms/step - loss: 0.4951 - accuracy: 0.7525
Epoch 42/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5106 - accuracy: 0.7550
Epoch 43/100
25/25 [==============================] - 0s 4ms/step - loss: 0.4982 - accuracy: 0.7513
Epoch 44/100
25/25 [==============================] - 0s 4ms/step - loss: 0.5076 - accuracy: 0.7513
Epoch 45/100
25/25 [==============================] - 0s 4ms/step - loss: 0.4940 - accuracy: 0.7513
Epoch 46/100
25/25 [==============================] - 0s 4ms/step - loss: 0.4801 - accuracy: 0.7500
Epoch 47/100
25/25 [==============================] - 0s 4ms/step - loss: 0.4816 - accuracy: 0.7525
Epoch 48/100
25/25 [==============================] - 0s 4ms/step - loss: 0.4882 - accuracy: 0.7525
Epoch 49/100
25/25 [==============================] - 0s 4ms/step - loss: 0.4747 - accuracy: 0.7525
Epoch 50/100
25/25 [==============================] - 0s 4ms/step - loss: 0.4518 - accuracy: 0.7525
Epoch 51/100
25/25 [==============================] - 0s 7ms/step - loss: 0.4656 - accuracy: 0.7525
Epoch 52/100
25/25 [==============================] - 0s 6ms/step - loss: 0.4664 - accuracy: 0.7525
Epoch 53/100
25/25 [==============================] - 0s 6ms/step - loss: 0.4455 - accuracy: 0.7513
Epoch 54/100
25/25 [==============================] - 0s 6ms/step - loss: 0.4412 - accuracy: 0.7538
Epoch 55/100
25/25 [==============================] - 0s 6ms/step - loss: 0.4242 - accuracy: 0.7538
Epoch 56/100
25/25 [==============================] - 0s 6ms/step - loss: 0.4014 - accuracy: 0.7588
Epoch 57/100
25/25 [==============================] - 0s 6ms/step - loss: 0.4038 - accuracy: 0.7538
Epoch 58/100
25/25 [==============================] - 0s 6ms/step - loss: 0.3885 - accuracy: 0.7638
Epoch 59/100
25/25 [==============================] - 0s 5ms/step - loss: 0.3866 - accuracy: 0.7650
Epoch 60/100
25/25 [==============================] - 0s 5ms/step - loss: 0.3684 - accuracy: 0.7713
Epoch 61/100
25/25 [==============================] - 0s 6ms/step - loss: 0.3681 - accuracy: 0.8012
Epoch 62/100
25/25 [==============================] - 0s 6ms/step - loss: 0.3278 - accuracy: 0.8163
Epoch 63/100
25/25 [==============================] - 0s 6ms/step - loss: 0.3300 - accuracy: 0.8050
Epoch 64/100
25/25 [==============================] - 0s 6ms/step - loss: 0.3262 - accuracy: 0.8363
Epoch 65/100
25/25 [==============================] - 0s 6ms/step - loss: 0.2948 - accuracy: 0.8450
Epoch 66/100
25/25 [==============================] - 0s 6ms/step - loss: 0.2987 - accuracy: 0.8438
Epoch 67/100
25/25 [==============================] - 0s 5ms/step - loss: 0.2689 - accuracy: 0.8700
Epoch 68/100
25/25 [==============================] - 0s 4ms/step - loss: 0.2658 - accuracy: 0.8788
Epoch 69/100
25/25 [==============================] - 0s 4ms/step - loss: 0.2594 - accuracy: 0.8925
Epoch 70/100
25/25 [==============================] - 0s 4ms/step - loss: 0.2400 - accuracy: 0.8988
Epoch 71/100
25/25 [==============================] - 0s 4ms/step - loss: 0.2229 - accuracy: 0.9162
Epoch 72/100
25/25 [==============================] - 0s 4ms/step - loss: 0.2256 - accuracy: 0.9275
Epoch 73/100
25/25 [==============================] - 0s 4ms/step - loss: 0.2020 - accuracy: 0.9400
Epoch 74/100
25/25 [==============================] - 0s 4ms/step - loss: 0.2112 - accuracy: 0.9438
Epoch 75/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1843 - accuracy: 0.9438
Epoch 76/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1748 - accuracy: 0.9588
Epoch 77/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1743 - accuracy: 0.9600
Epoch 78/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1617 - accuracy: 0.9663
Epoch 79/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1551 - accuracy: 0.9625
Epoch 80/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1541 - accuracy: 0.9775
Epoch 81/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1492 - accuracy: 0.9712
Epoch 82/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1385 - accuracy: 0.9825
Epoch 83/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1354 - accuracy: 0.9812
Epoch 84/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1355 - accuracy: 0.9787
Epoch 85/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1274 - accuracy: 0.9875
Epoch 86/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1247 - accuracy: 0.9825
Epoch 87/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1260 - accuracy: 0.9875
Epoch 88/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1195 - accuracy: 0.9912
Epoch 89/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1190 - accuracy: 0.9812
Epoch 90/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1077 - accuracy: 0.9900
Epoch 91/100
25/25 [==============================] - 0s 5ms/step - loss: 0.1018 - accuracy: 0.9912
Epoch 92/100
25/25 [==============================] - 0s 4ms/step - loss: 0.0959 - accuracy: 0.9962
Epoch 93/100
25/25 [==============================] - 0s 4ms/step - loss: 0.1019 - accuracy: 0.9887
Epoch 94/100
25/25 [==============================] - 0s 5ms/step - loss: 0.0952 - accuracy: 0.9925
Epoch 95/100
25/25 [==============================] - 0s 4ms/step - loss: 0.0916 - accuracy: 0.9950
Epoch 96/100
25/25 [==============================] - 0s 4ms/step - loss: 0.0936 - accuracy: 0.9862
Epoch 97/100
25/25 [==============================] - 0s 4ms/step - loss: 0.0894 - accuracy: 0.9887
Epoch 98/100
25/25 [==============================] - 0s 4ms/step - loss: 0.0815 - accuracy: 0.9937
Epoch 99/100
25/25 [==============================] - 0s 4ms/step - loss: 0.0771 - accuracy: 0.9912
Epoch 100/100
25/25 [==============================] - 0s 4ms/step - loss: 0.0720 - accuracy: 0.9937

In [88]:
model.evaluate(x_test,y_test)

7/7 [==============================] - 0s 4ms/step - loss: 0.8089 - accuracy: 0.7700

[0.8088838458061218, 0.7699999809265137]

In [89]:
y_pred=model.predict(x_test)

7/7 [==============================] - 0s 2ms/step

In [90]:
y_pred

array([[0.9994373 ],
       [0.9911652 ],
       [0.99989676],
       [0.28506884],
       [0.6461489 ],
       [0.3297268 ],
       [0.96204257],
       [0.996363  ],
       [0.99949956],
       [0.84424114],
       [0.999998  ],
       [0.99999857],
       [0.99740964],
       [0.9793752 ],
       [0.99995637],
       [0.5330683 ],
       [0.20375179],
       [0.7393914 ],
       [0.9903819 ],
       [0.54521906],
       [0.8413466 ],
       [0.25939158],
       [0.9967542 ],
       [0.9957177 ],
       [0.998147  ],
       [0.9848813 ],
       [0.99162346],
       [0.8307886 ],
       [0.9993561 ],
       [0.95617944],
       [0.26080766],
       [0.9736526 ],
       [0.9996074 ],
       [0.9836219 ],
       [0.9999975 ],
       [0.23603329],
       [0.36008266],
       [0.9995017 ],
       [0.999094  ],
       [0.99588096],
       [0.9848342 ],
       [0.99295264],
       [0.9973878 ],
       [0.97370166],
       [0.99999356],
       [0.8198325 ],
       [0.9761562 ],
       [0.9974571 ],
       [0.9995634 ],
       [0.9956125 ],
       [0.9917961 ],
       [0.99212205],
       [0.99999964],
       [0.5650798 ],
       [0.97435635],
       [0.9581689 ],
       [0.48783785],
       [0.9999739 ],
       [0.2414794 ],
       [0.8731827 ],
       [0.99182266],
       [0.94042957],
       [0.97487056],
       [0.7725006 ],
       [0.6293526 ],
       [0.9997814 ],
       [0.27184197],
       [0.7594459 ],
       [0.9801278 ],
       [0.8387229 ],
       [0.99999833],
       [0.99968636],
       [0.5354932 ],
       [0.7384629 ],
       [0.31908193],
       [0.97125834],
       [0.99011993],
       [0.71800554],
       [0.85201585],
       [0.98043215],
       [0.9930669 ],
       [0.7204243 ],
       [0.36553007],
       [0.9685299 ],
       [0.44329286],
       [0.8941742 ],
       [0.7531368 ],
       [0.29864553],
       [0.53800833],
       [0.34189594],
       [0.9730853 ],
       [0.20364118],
       [0.9860925 ],
       [0.9306222 ],
       [0.6828449 ],
       [0.36842892],
       [0.9994455 ],
       [0.9882731 ],
       [0.71547323],
       [0.9961965 ],
       [0.9751232 ],
       [0.99999416],
       [0.99999404],
       [1.        ],
       [0.9971112 ],
       [0.9571773 ],
       [0.9912102 ],
       [0.9695953 ],
       [0.9990693 ],
       [0.9959847 ],
       [0.6105499 ],
       [0.95393145],
       [0.8604207 ],
       [0.99562293],
       [0.9964881 ],
       [0.8897918 ],
       [0.9995733 ],
       [0.9952982 ],
       [0.8020153 ],
       [0.8111792 ],
       [0.99365425],
       [0.9999839 ],
       [0.79596317],
       [0.5561015 ],
       [0.9997031 ],
       [0.99866474],
       [0.9985304 ],
       [0.9811319 ],
       [0.99992645],
       [0.6897825 ],
       [0.99997306],
       [0.94274944],
       [0.94035256],
       [0.6238786 ],
       [0.6250401 ],
       [0.99899596],
       [0.9440798 ],
       [0.9963223 ],
       [0.96878797],
       [0.9999082 ],
       [0.9994331 ],
       [0.9641348 ],
       [0.99994826],
       [0.9999914 ],
       [0.7449642 ],
       [0.9999958 ],
       [0.27820525],
       [0.99385285],
       [0.9782355 ],
       [0.9993019 ],
       [0.9939937 ],
       [0.97133034],
       [0.99306774],
       [0.99741983],
       [0.25089234],
       [0.9889225 ],
       [0.61449707],
       [0.999699  ],
       [0.99999964],
       [0.99439937],
       [0.70256823],
       [0.20849407],
       [0.9996018 ],
       [0.6327576 ],
       [0.96394044],
       [0.65498257],
       [0.99529284],
       [0.3516056 ],
       [0.9999894 ],
       [0.79552853],
       [0.9285719 ],
       [0.9999857 ],
       [0.5213244 ],
       [0.99501413],
       [0.9999993 ],
       [0.23587884],
       [0.20316952],
       [0.99427325],
       [0.97335196],
       [0.90195507],
       [0.9669902 ],
       [0.96521807],
       [0.996691  ],
       [0.9839279 ],
       [0.9598335 ],
       [0.9227197 ],
       [0.56761354],
       [0.99989355],
       [0.99729294],
       [0.99742705],
       [0.33783865],
       [0.50828165],
       [0.99868125],
       [0.9999964 ],
       [0.9998716 ],
       [0.34452534],
       [0.76717883],
       [0.20144337],
       [0.3248212 ],
       [0.99963987]], dtype=float32)